name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
      - "*"

permissions:
  contents: read
  packages: write
  id-token: write

env:
   ACR_NAME: sreacregistry135790631
   Image_Name: myapp

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to Azure Container Registry
        run: az acr login --name $ACR_NAME

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        run: |
            docker build -t $ACR_NAME.azurecr.io/$Image_Name:latest .
            docker push $ACR_NAME.azurecr.io/$Image_Name:latest