name: 'Terraform CICD'

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "*"

permissions:
  contents: write


jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
    
    # Azure Login (using Service Principal)
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set Azure Subscription
      run: az account set --subscription $(jq -r .subscriptionId <<< '${{ secrets.AZURE_CREDENTIALS }}')
        
    # Initialize Terraform
    - name: Terraform Init
      run: terraform init

    # Run Terraform Plan
    - name: Terraform Plan
      run: terraform plan -input=false

    - name: Apply Terraform Plan
      run: terraform apply -auto-approve -input=false